<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if burger_name}}TRY AGAIN!{{else}}Devoured Already!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DEVOUR IT!</button>
</li>
